@font-face {
    font-family: Garamond;
    src: url(../EB_Garamond/static/EBGaramond-Regular.ttf);
  }

p {
    color: white;
    font-size: 30px;
    font-family: Garamond;
    margin-left: 8%;
    margin-right: 8%;

}

#aboutp1 {
    font-family: Helvetica;
    font-size: 20px;
}

#aboutsection {
    padding-top: 150px;
    margin-bottom: 900px;
}

#experiencesection {
    padding-top: 150px;
    margin-bottom: 900px;
}

#contactsection {
    padding-top: 150px;
    margin-bottom: 500px;
}